/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
    position: sticky;
    width: 100%;
    height: 75px;
    background-color: rgb(15, 20, 34);
    top: 0;
}

.btn-upgrade{
    width: 20%;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 20px;
}

/* main */
main{
    height: calc(100vh - 100px);
    background-color: rgb(22, 27, 38);
    display: flex;
}

/* sidebar */

#sidebar{
    height: 100%;
    width: 200px;
    background-color: black;
}

.logo{
    width: 200px;
    height: 80px;
    background-color: blue;
}

.tre-nomi{
    width: 200px;
    height: 150px;
    background-color: purple;
}

.playlist{
    width: 200px;
    height: 350px;
    background-color: grey;
}

/* canzoni */

.categorie{
    width: 100%;
    height: 50px;
    background-color: aqua;
}

/* footer */
footer{
    height: 100px;
    background-color: rgb(40, 40, 40);
}

/* utiliy */

.color-white{
    color: white;
}

.align-right{
    justify-content: end;
}