/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

ul li{
    color: grey;
    font-weight: 700;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h2{
    color: white;
    font-size: 40px;
}

.hide-logo{
    display: none;
}

.hide-home{
    display: none;
}

.show-home{
    display: block;
}
/* main */
main{
    height: calc(100vh - 120px);
    background-color: rgb(22, 27, 38);
    display: flex;
}

/* sidebar */
#sidebar{
    height: 100%;
    width: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* top sidebar */
.logo{
    width: 180px;
    padding: 20px 20px 25px 20px;
}

/* personal */
.personal{
    padding-bottom: 25px;
}

.personal li .show-home{
    padding-left: 15px;
}

.personal li{
    padding-left: 20px;
    padding-right: 20px;
}

.border-green{
    border-left: 5px solid rgb(171, 255, 46);
    right: 20px;
}

.personal li img{
    width: 35px;
    vertical-align: middle;
    padding-bottom: 10px;
}

.personal li span{
    padding-left: 5px;
}

/* playlist */
.playlist{
    padding-left: 20px;
    padding-right: 20px;
}

.playlist h3{
    font-size: 20px;
    padding-bottom: 15px;
}

.crea-playlist{
    color: grey;
    padding-bottom: 20px;
}

.crea-playlist .fa-square-plus{
    font-size: 50px;
    padding-right: 8px;
    vertical-align: middle;
}

.crea-playlist span{
    font-size: 20px;
    vertical-align: middle;
}

.playlist ul li{
    padding-bottom: 20px;
}

/* bottom sidebar */
.bottom-sidebar{
    padding: 0px 20px 10px 20px;
}

.bot-sidebar1{
    padding-bottom: 15px;
    display: flex;
    text-align: left;
}

.bot-sidebar1 img{
    width: 30px;
}

.bot-sidebar1 span{
    font-size: 20px;
    padding-left: 15px;
    color: grey;
}

.bot-sidebar2{
    display: flex;
    padding-top: 15px;
}

.bot-sidebar2 img{
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50px;
}

.bot-sidebar2 span{
    font-size: 20px;
    color: white;
    padding-left: 15px;
}

/* header */
header{
    position: sticky;
    height: 100px;
    background-color: rgb(15, 20, 34);
    top: 0;
}

.right{
    display: flex;
    justify-content: right;
    /* occhio al padding */
    padding: 25px 6px 0px 0px;
}

.btn-upgrade{
    width: 250px;
    border-radius: 20px;
    padding: 11px 0px;
    border: 1px solid white;
    background-color: transparent;
    text-align: center;
}

/* content */

.content{
    width: calc(100% - 300px);
    overflow-y: auto;
}

/* main-content */
.main-content{
    padding: 20px 20px;
}

.main-content-text{
    padding-bottom: 30px;
}

.main-content h2{
    padding-bottom: 5px;
}

.main-content h3{
    color: white;
    padding-top: 20px;
    padding-bottom: 15px;
}

.main-content span{
    color: grey;
    font-weight: 600;
}

.categorie{
    padding-bottom: 40px;
}

.categorie ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}

.green-underline{
    text-decoration: underline;
    text-decoration-color: greenyellow;
}

/* card */
.card{
    width: calc(100% / 6);
    text-align: center;
}

.card-square{
    position: relative;
    width: 100%;
}

.card img{
    width: 100%;
}

.hover-card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.506);
    position: absolute;
    top: 0;
    opacity: 0;
}

.hover-play{
    color: white;
    font-size: 80px;
}

/* recently */
.recently{
    display: flex;
    padding-bottom: 50px;
    gap: 15px;
}

/* creato per */
.creato-per{
    display: flex;
    padding-bottom: 50px;
    gap: 15px;
}

/* popolari */
.popolari .card img{
    border-radius: 50%;
}

.popolari{
    display: flex;
    padding-bottom: 50px;
    gap: 15px;
}

.popolari .hover-card{
    border-radius: 50%;
}

/* footer */
footer{
    height: 120px;
    background-color: rgb(40, 40, 40);
    display: flex;
}

/* col left */
.col-left{
    width: 250px;
    padding: 25px 0px 25px 15px;
    display: flex;
    align-items: center;
}

.col-left img{
    width: 60px;
    height: 60px;
}

.col-text{
    padding-left: 10px;
}

.col-icon{
    color: grey;
    font-size: 20px;
    display: flex;
    gap: 10px;
    padding-left: 50px;
}

/* col mid */
.col-mid{
    width: 100%;
    text-align: center;
}

.music-player{
    color: white;
    padding-top: 10px;
}

.music-player .fa-solid{
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: middle;
}

.music-player .fa-regular{
    font-size: 35px;
    padding: 10px 20px 10px 20px;
    vertical-align: middle;
}

.music-time{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    align-items: center;
}

.music-time span{
    color: white;
    font-weight: 700;
}

.music-line{
    display: flex;
    align-items: center;
    width: 45%;
    height: 6px;
    border-radius: 10px;
    background-color: rgb(103, 103, 103);
}

.music-line-mini{
    width: 20%;
    height: 6px;
    border-radius: 10px;
    background-color: lightgrey;
}

.white-dot{
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background-color: white;
    display: none;
}

/* col25 right */
.col-right{
    width: 250px;
    padding: 25px 10px 25px 0px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.col-right .fa-solid{
    color: white;
}

.volume-line{
    display: flex;
    align-items: center;
    width: 170px;
    height: 6px;
    border-radius: 10px;
    background-color: grey;
}

.volume-line-mini{
    width: 40px;
    height: 6px;
    border-radius: 10px;
    background-color: lightgrey;
}

/* utiliy */

.color-white{
    color: white;
}

.color-grey{
    color: grey;
}

.pad20-r{
    padding-right: 20px;
}

.pad20-l{
    padding-left: 20px;
}

.bold{
    font-weight: 600;
}

.disp-flex{
    display: flex;
}

.align-right{
    justify-content: end;
}

/* media query */
@media screen and (max-width: 1200px) {
    .card{
        width: 23%;
    }

    .recently{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 990px) {
    .card{
        width: 48%;
    }

    .recently{
        flex-wrap: wrap;
    }

    .col-icon{
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .hide-logo{
        display: block;
    }

    .logo{
        width: 40px;
        padding: 0px;
        margin: 20px 0px 20px 15px;
    }

    #sidebar{
        width: 70px;
    }

    .content{
        width: calc(100% - 70px);
    }

    .show-home{
        display: none;
    }

    .hide-home{
        display: block;
    }

    .hide{
        display: none;
    }
}

/* hover */

.personal li span:hover{
    color:white;
}

.crea-playlist:hover{
    color: white;
}

.playlist li:hover{
    color: white;
}

.bot-sidebar1 span:hover{
    color: white;
}

.col-text span:hover{
    color: white;
    text-decoration: underline;
}

.col-icon i:hover{
    color: white;
}

.music-player .fa-circle-play:hover{
    transform: scale(1.2);
}

.music-line:hover .music-line-mini{
    background-color: greenyellow;
}

.music-line:hover .white-dot{
    display: flex;
}

.volume-line:hover .volume-line-mini{
    background-color: greenyellow;
}

.volume-line:hover .white-dot{
    display: flex;
}

.btn-upgrade:hover{
    transform: scale(1.5);
}

.categorie li:hover{
    color: white;
}

.categorie li:hover span{
    color: white;
}

.hover-card:hover{
    opacity: 1;
    transition: 0.3s;
}